@page "/"
@using CryptographyProvider;

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
  <p role="status">Give data to protect: </p>
  <InputText id="text" @bind-Value="_textToProtect" />
  <button @onclick="Protect">Protect</button>
</div>
<div>
  <label id="encryptedText">Encrypted value: @_encryptedText</label>
</div>
<div>
  <label id="decryptedText">Decrypted value: @_decryptedText</label>
</div>

@code {
  private string _textToProtect = string.Empty;
  private string _encryptedText = string.Empty;
  private string _decryptedText = string.Empty;

  [Inject]
  public IStatefulCryptographyProvider Provider { get; set; }

  private void Protect()
  {
    _encryptedText = Provider.Encrypt(_textToProtect);
    _decryptedText = Provider.Decrypt(_encryptedText);
  }
}
